@model Organizaciebis_Cnobari.Entities.Person

<div>

    <form asp-action="DeletePerson" asp-controller="Person">
        <input type="hidden" value="@Model" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="PersonIndex">Back to List</a>
    </form>
</div>
