@model Person
@{ 
    ViewData["Title"] = "ფიზიკური პირის ძირითადი ინფორმაციის ცვლილება";
}

@if(ViewBag.Message!=null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>
}

<form asp-action="Edit" asp-controller="Home" method="Post" style="margin-left:300px">
    <input type="hidden" asp-for="Id"/>
    <partial name="~/Views/Home/Helper/PersonForm.cshtml" model="Model"></partial>
    <button type="submit" class="btn btn-primary">დამატება</button>
</form>