@{
    ViewData["Title"] = "ფიზიკურ პირთა სია";
}
<div class="text-center">
    <h1 class="display-4">ფიზიკურ პირთა სია</h1>
</div>
<div class="mb-4">
    <a asp-controller="Person" asp-action="AddNewPerson" class="btn btn-success">ფიზიკური პირის დამატება</a>
</div>