@model Organizaciebis_Cnobari.Entities.Organization

<div>
    
    <form asp-action="DeleteOrganization" asp-controller="Organization">
        <input type="hidden" value="@Model"/>
        <input type="submit" value="Delete"/> |
    </form>
</div>
