@model Organizaciebis_Cnobari.Entities.Organization
@{
    ViewData["Title"] = "ორგანიზაციის რედაქტირება";
}
<div class="form-horizontal">
    <form asp-action="EditOrganization" asp-controller="Organization" method="post" style="margin-left:300px">
        <input type="hidden" asp-for="Id" />
        <h6>ორგანიზაციის რედაქტირება</h6>
        <partial name="~/Views/Organization/Helper/OrganizationForm.cshtml" model="Model"></partial>
        <button type="submit" class="btn btn-primary">დამატება</button>
    </form>
</div>
