@{
    ViewData["Title"] = "ორგანიზაციების სია";
}
<div class="text-center">
    <h1 class="display-4">ორგანიზაციების სია</h1>
</div>
<div class="mb-4">
    <a asp-controller="Organization" asp-action="AddNewOrganization" class="btn btn-success">ორგანიზაციის დამატება</a>
</div>