@model Organizaciebis_Cnobari.Entities.Person
<div class="form-group row" style="width:500px">
    <div class="col sm-10">
        <label asp-for="Name">სახელი</label>
        <input type="text" asp-for="Name" class="form-control" width="10" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
</div>
<div class="form-group row" style="width:500px">
    <div class="col sm-10">
        <label asp-for="LastName">გვარი</label>
        <input type="text" asp-for="LastName" class="form-control" />
        <span class="text-danger" asp-validation-for="LastName"></span>
    </div>
</div>
<div class="form-group row" style="width:500px">
    <div class="col sm-10">
        <label asp-for="Gender">სქესი</label>
        <input type="text" asp-for="Gender" class="form-control" />
        <span class="text-danger" asp-validation-for="Gender"></span>
    </div>
</div>
<div class="form-group row" style="width:500px">
    <div class="col sm-10">
        <label asp-for="PersonalID">პირადი ნომერი</label>
        <input type="text" asp-for="PersonalID" class="form-control" />
        <span class="text-danger" asp-validation-for="PersonalID"></span>
    </div>
</div>
<div class="form-group row" style="width:500px">
    <div class="col sm-10">
        <label asp-for="BirthDay">დაბადების დღე</label>
        <input type="date" asp-for="BirthDay" class="form-control" />
        <span class="text-danger" asp-validation-for="BirthDay"></span>
    </div>
</div>
<div class="form-group row" style="width:500px">
    <div class="col sm-10">
        <label asp-for="City">ქალაქი</label>
        <input type="text" asp-for="City" class="form-control" />
        <span class="text-danger" asp-validation-for="City"></span>
    </div>
</div>
<div class="form-group row" style="width:500px">
    <div class="col sm-10">
        <label asp-for="TelephoneNumbers">ტელეფონის ნომრები</label>
        <input type="text" asp-for="TelephoneNumbers" class="form-control" />
        <span class="text-danger" asp-validation-for="TelephoneNumbers"></span>
    </div>
</div>


