@{
    ViewData["Title"] = "Home Page";
}

<div class="mb-4">
    <a asp-controller="Home" asp-action="AddNewPerson" class="btn btn-success">ფიზიკური პირის დამატება</a>
    <a asp-controller="Home" asp-action="AddNewOrganization" class="btn btn-success">ორგანიზაციის დამატება</a>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
