@{
    ViewData["Title"] = "მთავარი გვერდი";
}

<div class="mb-4">
    <a asp-controller="Home" asp-action="AddNewPerson" class="btn btn-success" >ფიზიკური პირის დამატება</a>
    <a asp-controller="Home" asp-action="AddNewOrganization" class="btn btn-success">ორგანიზაციის დამატება</a>
</div>
<div class="text-center">
    <h1 class="display-4">კეთილი იყოს თქვენი მობრძანება</h1>
</div>
